
form{
    width: 100%;
    height: 100%;
}
.progressBarParent{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* border: 1px solid; */
    background-color: #f1f1f1;
}
.progressInfo{
    border-radius: 20px;
    width: 100%;
    height: 100%;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #ffffff;
}
.progressInfo h1{
    font-size: 25px;
}
.progressInfo h2{
    font-size: 18px;
}

.progress-bar{
    width: 90%;
    height: 100%;
    border-radius: 32px;
    border: 1px solid;
    overflow: hidden;
}
.progress-bar div{
    background-color: #06c8d9;
    height: 100%;
    transition: all .5s;
}

.questions{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding: 40px;
}
.question{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
    /* text-align: justify; */
}
.question h2{
    font-size: 30px;
    direction: rtl;
}
.question p{
    font-size: 18px;
}

.inp{
    width: 300px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid;
    font-size: 18px;
    outline: none;
    padding: 10px;
}

.actionParent{
    width: 100%;
    height: 15%;
    /* border: 1px solid; */
    padding: 0px 40px;
    display: flex;
    align-items: center;
}
.btn{
    padding: 10px 60px;
    border-radius: 16px;
    border: 1px solid #06c8d9;
    transition: all .5s;
    background-color: #fcfeff;
    cursor: pointer;
    color: black;
}
.btn:hover{
    padding: 10px 65px;
    border-radius: 32px;
    letter-spacing: 5px;
    background-color: #06c8d9;
    box-shadow: 0px 0px 10px 2px #06c8d9;
}
.btn:disabled{
    background-color: #e5e5e5;
    border: none;
}
.btn:disabled:hover{
    padding: 10px 60px;
    border-radius: 16px;
    letter-spacing: normal;
    background-color: #e5e5e5;
    box-shadow: none;
}
.endMassage{
    width: 100%;
    height: 60%;
    display: grid;
    place-items: center;
    font-size: 2vw;
    direction: rtl;
}
.progress-container{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.alert{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#alertBtn{
    justify-content: center;
}
.alert-text{
    text-align: center;
    direction: rtl;
}
@media only screen and (max-width:960px) {
    .btn{
        padding: 15px 80px;
    }
    .btn:hover{
        padding: 15px 85px;
    }
}
@media only screen and (max-width:800px) {
    .question h2{
        font-size: 20px;
    }
}
@media only screen and (max-width:500px) {
    .question h2{
        font-size: 15px;
    }
    .question p{
        font-size: 14px;
    }
    .inp{
        width: 250px;
        height: 40px;
    }
    .alert-text h2{
        font-size: 20px;
    }
    .alert-text h3{
        font-size: 16px;
    }
}
@media only screen and (max-width:400px) {
    .progressInfo h1{
        font-size: 20px;
    }
    .progressInfo h2{
        font-size: 14px;
    }
    .progress-container{
        padding: 5px;
        font-size: 12px;
    }
    .inp{
        width: 200px;
        height: 40px;
    }
    .btn{
        padding: 10px 60px;
    }
    .btn:hover{
        padding: 10px 65px;
    }
    .actionParent{
        justify-content: center;
    }
}
@media only screen and (max-width:340px) {
    .alert-text h2{
        font-size: 17px;
    }
    .alert-text h3{
        font-size: 13px;
    }
}
@media only screen and (max-width:300px) {
    .btn{
        padding: 10px 50px;
    }
    .btn:hover{
        padding: 10px 55px;
    }
    .inp{
        width: 200px;
        height: 30px;
        font-size: 12px;
    }
    
}