@font-face {
    font-family: iranYekan;
    src: url(/src/assets/font/Qs_Iranyekan.ttf) format(ttf),
    url(/src/assets/font/Qs_Iranyekan.eot) format(eot),
    url(/src/assets/font/Qs_Iranyekan.woff2) format(woff2),
    url(/src/assets/font/Qs_Iranyekan.woff2) format(woff);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: iranYekan;
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    /* background-color: aqua; */
    background: rgb(0,197,203);
    background: linear-gradient(180deg, rgba(0,197,203,1) 20%, rgba(0,122,255,1) 100%);
    align-items: center;
    justify-content: center;
}